# Data manipulation
pandas==1.5.3
numpy==1.24.1

# Data visualization
matplotlib==3.7.1
seaborn==0.12.2
plotly==5.13.0

# Machine learning
scikit-learn==1.2.2
xgboost==1.7.4

# Time series analysis
statsmodels==0.13.5
pmdarima==2.0.3
prophet==1.1.2

# Feature engineering
ta-lib==0.4.0
feature-engine==1.5.0

# Jupyter notebook support
notebook==7.0.3
ipython==8.10.0

# Miscellaneous utilities
tqdm==4.64.1
